<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Add Child Category</h4>
    <button class="close" aria-label="Close" (click)="dismissCategoryXRefModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="widgets">
      <div class="row">
        <div class="col-md-12">
          <ba-card title="Categories" baCardClass="with-scroll">
            <ng2-smart-table [settings]="categoryXRefModalSettings" [source]="categoryXRefSource"
                             (userRowSelect)="onCategoryXRefRowSelect($event)">

            </ng2-smart-table>
          </ba-card>
          <ba-card>
            <div [ngClass]="{'has-error':!displayOrderCXRCtrl.valid}">
              <label for="displayOrderCXR">Display Order</label>
              <input type="text" id="displayOrderCXR" placeholder="Display Order"
                    [(ngModel)]="displayOrderCXR" #displayOrderCXRCtrl="ngModel" required>
            </div>
          </ba-card>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" [disabled]="!displayOrderCXRCtrl.valid"
            (click)="closeCategoryXRefModal()">Add Category
    </button>
  </div>
</div>


