<div class="widgets" *ngIf="poDetail">
  <h2>Product Option > {{poDetail.attributeName}}</h2>
  <form (ngSubmit)="onSubmitForm()">
    <div class="row">
      <div class="col-md-6">
        <div>
          <ba-card title="General" baCardClass="with-scroll">
            <div class="form-group">
              <label for="label">Label</label>
              <input type="text" class="form-control" id="label" name="label" placeholder="Label"
                     [(ngModel)]="poDetail.label">
            </div>
            <div class="form-group">
              <label for="optionType">Type</label>
              <input type="text" class="form-control" id="optionType" name="optionType" placeholder="Type"
                     [(ngModel)]="poDetail.optionType">
            </div>
          </ba-card>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <ba-card title="Details" baCardClass="with-scroll">
            <div class="form-group">
              <label for="attributeName">Attribute Name</label>
              <input type="text" class="form-control" name="attributeName" id="attributeName"
                     placeholder="Attribute Name" [(ngModel)]="poDetail.attributeName">
            </div>
            <div class="form-group">
              <label for="displayOrder">Display Order</label>
              <input type="number" class="form-control" id="displayOrder" name="displayOrder"
                     placeholder="Display Order" [(ngModel)]="poDetail.displayOrder">
            </div>
            <label>Use In SKU Generation</label>
            <div class="input-demo radio-demo row">
              <div class="col-md-4">
                <label class="radio-inline custom-radio nowrap">
                  <input type="radio" name="useInSkuGeneration" [value]="true"
                         [(ngModel)]="poDetail.useInSkuGeneration">
                  <span>Yes</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="radio-inline custom-radio nowrap">
                  <input type="radio" name="useInSkuGeneration" [value]="false"
                         [(ngModel)]="poDetail.useInSkuGeneration">
                  <span>No</span>
                </label>
              </div>
            </div>
          </ba-card>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div>
          <ba-card title="Option Values" baCardClass="with-scroll">
            <ng2-smart-table [settings]="settings" [source]="optionValueSource"
                             (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
          </ba-card>
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <ba-card title="Validation" baCardClass="with-scroll">
            <label>Required</label>
            <div class="input-demo radio-demo row">
              <div class="col-md-4">
                <label class="radio-inline custom-radio nowrap">
                  <input type="radio" name="required" [value]="true" [(ngModel)]="poDetail.required">
                  <span>Yes</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="radio-inline custom-radio nowrap">
                  <input type="radio" name="required" [value]="false" [(ngModel)]="poDetail.required">
                  <span>No</span>
                </label>
              </div>
            </div>
            <label>Validation Strategy</label>

            <div class="input-demo radio-demo row">
              <div class="col-md-4" *ngFor="let option of validateTypes">
                <label class=" custom-radio nowrap">
                  <input type="radio" name="validationType" [(ngModel)]="poDetail.validationType"
                         [checked]="option==poDetail.validationType"
                         value={{option}}>
                  <span>{{option}}</span>
                </label>
              </div>
            </div>
          </ba-card>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
